<div class="docs-footer">
  <div class="docs-footer-list">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <h3 class="text-center">Часы работы</h3>
          <hr>
          <p class="text-center">
            пн-пт: 10:00 - 22:00 || сб-вс: 12:00 - 22:00
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <h3 class="text-center">Телефон</h3>
          <hr>
          <p class="text-center">
            <a href="tel:89205987738">8 (920) 598-77-38</a>
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <h3 class="text-center">Сайт разработал</h3>
          <hr>
          <p class="text-center">
            <a href="mailto:marround@yandex.ru" target="_blank">Marround</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
