<div class="bkg-anime"></div>
<div class="docs-component-viewer">
  <mat-card class="mat-elevation-z12">

    <mat-tab-group class="demo-tab-group">
      <mat-tab *ngFor = "let section of menu">
        <ng-template mat-tab-label>
          <p class="my-tab-label">{{section.name}}</p>
        </ng-template>
        <div class="demo-tab-content">
          <table class="table table-responsive table-striped">
            <thead>
            <tr>
              <th>Блюдо</th>
              <th>Описание</th>
              <th>Цена ₽</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor = "let list of section.dish">
              <td><img src="./assets/img/food/{{list.photo}}" alt="" width="250px"></td>
              <td>
                <h2>{{list.name}}</h2>
                <p>{{list.description}} ({{list.meter}})</p>
              </td>
              <td width="150px">
                <h2 class="price">{{list.price}}</h2>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
