@import url(http://allfont.ru/allfont.css?fonts=american-retro);

td, th {
  font-family: 'American Retro', arial;
}

th {
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  color: #4E2200;
}

td>p{
  font-size: 22px;
}

.bkg-anime {
  position: fixed;
  width: 100%;
  height: calc(100vh - 52px);
  background: url(/assets/img/bkg/paris4.jpg) 0 0 no-repeat;
  background-size: 100%;
}

.my-tab-label {
  color: #4E2200;
  font-weight: bold;
  font-family: 'American Retro', arial;
  font-size: 20px;
}

.price {
  text-align: center;
}
