<div class="bkg-anime"></div>
<div class="docs-component-viewer">
  <mat-card class="mat-elevation-z12">
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Кофе">
        <div class="demo-tab-content">
          <table class="table table-responsive table-striped">
            <thead class="thead-default">
            <tr>
              <th>Блюдо</th>
              <th>Описание</th>
              <th>Цена ₽</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>фотка кофия</td>
              <td>
                <h3>Кофе</h3>
                <p>Состав</p>
              </td>
              <td>120</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Чай">
        <ng-template>
          <table class="table table-responsive table-striped">
            <thead class="thead-default">
            <tr>
              <th>Блюдо</th>
              <th>Описание</th>
              <th>Цена ₽</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>фотка чая</td>
              <td>
                <h3>Чай</h3>
                <p>Состав</p>
              </td>
              <td>120</td>
            </tr>
            </tbody>
          </table>
        </ng-template>
        <div class="Десерты">
          <table class="table table-responsive table-striped">
            <thead class="thead-default">
            <tr>
              <th>Блюдо</th>
              <th>Описание</th>
              <th>Цена ₽</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>фотка печеньки</td>
              <td>
                <h3>Печенька</h3>
                <p>Состав</p>
              </td>
              <td>120</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Кухня">
        <table class="table table-responsive table-striped">
          <thead class="thead-default">
          <tr>
            <th>Блюдо</th>
            <th>Описание</th>
            <th>Цена ₽</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>фотка еды</td>
            <td>
              <h3>Еда</h3>
              <p>Состав</p>
            </td>
            <td>120</td>
          </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Бизнесс ланч">
        <table class="table table-responsive table-striped">
          <thead class="thead-default">
          <tr>
            <th>Блюдо</th>
            <th>Описание</th>
            <th>Цена ₽</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>фотка наборчика</td>
            <td>
              <h3>Наборчик</h3>
              <p>Состав</p>
            </td>
            <td>120</td>
          </tr>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
