.bkg-anime {
  position: fixed;
  width: 100%;
  height: calc(100vh - 52px);
  background: url(/assets/img/bkg/paris2.jpg) 0 0 no-repeat;
  background-size: 100%;
}

h2 {
  font-family: 'Aurora Script', arial;
  font-size: 8em;
}
