<div class="bkg-anime"></div>
<div class="docs-component-viewer">
  <mat-card class="mat-elevation-z12">
    <mat-list>
      <mat-list-item>
        <p>
          <strong>
            <a href="tel:89205987738" target="_blank">
              8(920) 598-77-38
            </a>
          </strong>
        </p>
      </mat-list-item>
      <mat-list-item>
        <p>
          <strong>
            <a href="tel:89205987724" target="_blank">
              8(920) 598-77-24
            </a>
          </strong>
        </p>
      </mat-list-item>
      <mat-list-item>
        <p>
          <strong>
            <a href="https://vk.com/deparis_bgd" target="_blank">
              Мы в контакте
            </a>
          </strong>
        </p>
      </mat-list-item>
      <mat-list-item>
        <p>
          <strong>
            <a href="https://www.instagram.com/deparis_bgd/" target="_blank">
              Мы в инстаграмме
            </a>
          </strong>
        </p>
      </mat-list-item>
      <mat-list-item>
        <p>
          <strong>Время работы: пн-пт: 10:00 - 22:00; сб-вс: 12:00 - 22:00</strong>
        </p>
      </mat-list-item>
    </mat-list>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad78460947e5111dbe41bb3a47d5cc9bb1a327d9bcffbfb6351fdabcb03ba07f3&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
  </mat-card>
</div>
