@import url(http://allfont.ru/allfont.css?fonts=american-retro);

.bkg-anime {
  position: fixed;
  width: 100%;
  height: calc(100vh - 52px);
  background: url(/assets/img/bkg/paris2.jpg) 0 0 no-repeat;
  background-size: 100%;
}

p, a {
  font-family: 'American Retro', arial;
  font-size: 30px;
  text-decoration: none;
  color: #4E2200;
}
