<div class="bkg-anime"></div>
<div class="pano mat-elevation-z12">
  <div class="live-image"></div>
  <div id="overlay"></div>
  <header>
    <h1>De Париж</h1>
  </header>
</div>

<div class="docs-component-viewer home-page">
  <mat-card class="mat-elevation-z12">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>Насладитесь пикантным вкусом оригинальных и традиционных блюд и напитков в кафе «Дэ Париж». Здесь вас ждет непринужденная атмосфера, приятное обслуживание, а также:</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div style="background:url(/assets/img/home/deparis1.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
      </div>

      <hr class="col-xs-11 col-sm-11 col-md-11 col-lg-11">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div style="background:url(/assets/img/home/deparis2.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>Уникальные сорта кофе с неповторимым ароматом и утонченным вкусом. Хотите ли вы крепкий напиток или кофе с едва уловимой горчинкой? Мы подберем для вас удивительный микс, от которого вы потеряете голову.</p>
      </div>

      <hr class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>Оригинальный и традиционный чай с необычными нотами цвета и легким терпким послевкусием. Обожаете ли вы зеленый или предпочитаете только черный чай, у нас вы найдете только лучшие сорта, собранные в Китае и Шри-Ланке.</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div style="background:url(./assets/img/home/deparis3.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
      </div>

      <hr class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div style="background:url(/assets/img/home/deparis4.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>Только нежнейшие десерты, созданные по оригинальной рецептуре. Это яркие и умопомрачительные лакомства, перед которыми не устоит даже самый отъявленный любитель бифштексов.</p>
      </div>

      <hr class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>Европейская кухня с популярными и редкими салатами, традиционными супами и необычными пюре, кашами и пирожками. Наши повара знают тысячу и один вариант рецептов для вашей услады.</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div style="background:url(/assets/img/home/deparis5.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
      </div>

      <hr class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div style="background:url(/assets/img/home/deparis6.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>Устали? Хотите новых ощущений? Приходите к нам! Только здесь вы сможете отдохнуть от суеты, насладиться вкусными блюдами и оригинальными напитками, отрешиться от проблем. Мы открыты для проведения невероятно пышных торжеств в большой компании и для тихих романтических вечеров в непринужденной атмосфере, бизнес ланчей с партнерами и стандартных обедов в рабочий полдень.</p>
      </div>

      <hr class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ul>Для вас всегда:
          <li>вкуснейшие деликатесы, заботливо приготовленные из самых свежих продуктов;</li>
          <li>приятные цены на любые пункты меню;</li>
          <li>вежливый персонал, который готов прийти на помощь в любую минуту.</li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div style="background:url(/assets/img/home/deparis7.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
      </div>

    </div>
  </mat-card>
</div>
