<div class="bkg-anime"></div>
<div class="docs-component-viewer">
  <mat-card class="mat-elevation-z12">
    <h1 class="text-center">Немножко о Нас :)</h1>

    <p>Кафе «Дэ Париж» - это всегда уют и комфорт, это вкусные обеды и изысканные ужины для всей семьи, влюбленных пар, для друзей и коллег, маленьких любителей полакомиться и больших гурманов отведать новенькое.</p>
    <p>Наша команда – это активный и сплоченный коллектив, который работает много лет и постоянно повышает квалификацию. Мы никогда не останавливаемся на достигнутом, потому что не привыкли довольствоваться малым.</p>
    <p>Наше меню – это только лучшие блюда, которые любят все, а также изыски, которые по вкусу далеко не каждому. Нам под силу сварить чашку кофе и создать уникальный десерт по старинному рецепту.</p>
    <p>Наши продукты – это исключительно экологически чистые ингредиенты, они безопасны, свежи, натуральны и прошли многоступенчатую проверку на качество. Поэтому заглянув в кафе, вам не придется беспокоиться о безопасности.</p>
    <p>Наше кредо – не просто накормить посетителей, а сделать так, чтобы они остались довольны. И это нам удается, потому что в нашем кафе приятная располагающая атмосфера, разнообразие блюд и напитков.</p>
    <p>Мы не устаем удивлять жителей и гостей нашего города гастрономическими изысками европейской кухни и не только. Ели вы привыкли к лазанье, любите лакомиться тирамису или вам заблагорассудилось отведать какую-нибудь диковинку, мы всегда найдем компромисс между «вкусно и полезно».</p>
  </mat-card>
</div>
